## Sandbox url
PAYPAL_OAUTH_API="https://api.sandbox.paypal.com/v1/oauth2/token"
PAYPAL_ORDER_API="https://api.sandbox.paypal.com/v2/checkout/orders"

# Production URL
# PAYPAL_OAUTH_API="https://api.paypal.com/v1/oauth2/token"
# PAYPAL_ORDER_API="https://api.paypal.com/v2/checkout/orders"

PAYPAL_CLIENT=string
PAYPAL_SECRET=string
